*.iml
.idea/
*.pyc
*.csv
*.zip
.vscode
sample/*
*.jpg
events.*
*.DESKTOP-VH2ET7P
*.jpg
*.DESKTOP-1VR7V0I
data/*
deepfake_detection/bin/snapshots/*
deepfake_detection/bin/resnet1_snapshots/*
deepfake_detection/bin/resnet50_snapshots/*
*.log
*.out
